*
{
    margin: 0;
    padding: 0;
}

/* div라고 해도 되고 */
/* class면 .container */

#container{
    width: 60%;
    height: 100vh;
    margin-left: 20%;
}

header{
    
    width: 100%;
    height: 80px;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    /* 공백주기 2개라 양쪽으로 나뉨 */
    align-items: center;
    /* 중간정렬 */
    /* padding: 0 20px; */
}

header > h1 {
    padding: 30px;
}

nav{
    width: 100%;
    height: 80px;
    
}

nav > ul {
    width: 100%;
    height: 100%;
    margin: 10px;
    font-size: large;
/* ul 안의 li를 flex해서 가로배치하고싶으면 ul을 flex박스로 만들어야 함 */
    display: flex;
    /* 수평 */
    justify-content: center;
    /* 수직 */
    align-items: center;
}

nav > ul > li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color:indianred;
    margin:5px;
}

a{
    text-decoration: none;
    color: white;
}

a:visited, a:link{
    color: white;
}

/* a:hover{
    color: darkblue;
    font-weight: bold;
} */


/* a태그에만 hover걸려있어서 글자만 색변함 > 박스 자체가 색 변하려면 li까지 hover걸어주면 됨 */
nav > ul > li:hover, a:hover{ 
    background-color: aliceblue;
    color: crimson;
    font-weight: bold;

}

/* h1{
    border-style: ;
    background-color: chartreuse;
    text-align: center;
    padding: 10px;
    margin-top: 10px;

} */

ul{
    list-style-type: none;
    width: 100%;
    text-align: center;
}

/* li */
/* #m1, #m2 으로 쓰면 각각 만들어야 되니까 class써서 .쓸거 아니면 경로를 바로 써도 됨*/
section > ul > li {
    
    margin: 20px 40px;
    padding:20px;
    background-color:yellow;
    color:black;
}



section > ul > li:hover {
    background-color: aqua;
    color: rgb(7, 44, 248);
    font-weight: bold;
}

